{% extends 'base/base.html' %}

{% block title %}داستان ها{% endblock %}

{% block body %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
<!--    <div class="row py-lg-5" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px;">-->
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-normal">داستان های کوتاه</h1>

            <img class="background-image" src = "#" alt = ""/>
        <br>
        <p class="lead text-body-secondary">سایتی پر از داستان های کوتاه، جالب و سرگرم کننده برای فرزندان ایران زمین</p>
        <p>
          <a href="{% url 'home:create_article' %}" class="btn btn-primary my-2">اضافه کردن داستان</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
    <form action="" method="get">
      <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="Search in Articles">
          <button type="submit" class="btn btn-primary my-3">Search</button>
      </div>
    </form>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for art in article %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'home:detail' art.id %}"><img class="bd-placeholder-img card-img-top" src="{{ art.image.url }}" alt={{ art.title }} height=240px width=300px>
            <br><h3 class="align-right" dir="rtl" style="padding-right: 20px">{{art.title}}</h3>
            <div class="card-body"></a>

              <p class="card-text" dir="rtl" >{{art.text|truncatechars:140}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">{{art.pub_date|date:"Y M d"}}</small>
              </div>
              <small class="text-body-secondary">{{art.auther}}</small>
            </div>
          </div>
        </div>
          {% empty %}
          <p class="text-danger">Article not found</p>
      {% endfor %}
{% endblock %}

