{% extends 'base/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<section class="py-5 text-center container" style="background-image: url('{{ article.image.url }}'); background-size: cover; background-position: center; padding: 20px; border-radius: 10px; height: 500px;">
<!--  <div class="row py-lg-5">-->
    <br><br><br>
    <div class="row py-lg-5" style="background-color: rgba(255, 255, 255, 0.4); padding: 20px; border-radius: 10px;">
     <div class="col-lg-6 col-md-8 mx-auto">
       <h1 class="fw-normal">{{ article.title }}</h1><br>
       <p class="lead text-body-secondary">Auther : {{ article.auther.get_full_name }}</p>
       {% if request.user.id == article.auther.id %}
         <a href="{% url 'home:edit_article' article.id %}" class="btn btn-primary my-2">Edit</a>
         <a href="{% url 'home:delete_article' article.id %}" class="btn btn-danger my-2">Delete</a>
       {% endif %}
     </div>
    </div>
</section>

        </div>
        <article>{{ article.text }}</article>
        <br>
        <h4>{{ article.updated_date }}</h4>
        <div>
{% endblock %}