{% extends 'base/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<section class="py-5 text-center container" style="background-image: url('{{ article.image.url }}'); background-size: cover; background-position: center; padding: 20px; border-radius: 10px; height: 500px;">
<!--  <div class="row py-lg-5">-->
    <br><br><br>
    <div class="row py-lg-5" style="background-color: rgba(255, 255, 255, 0.4); padding: 20px; border-radius: 10px;">
     <div class="col-lg-6 col-md-8 mx-auto">
       <h1 class="fw-normal">{{ article.title }}</h1><br>
       <p class="lead text-body-secondary">نویسنده : {{ article.auther }}</p>
       <a href="#" class="btn btn-primary my-2"> بعد</a>
       <a href="{% url 'home:art_list' %}" class="btn btn-secondary my-2">بـــازگــــشـــــت</a>
     </div>
    </div>
</section>

        </div>
        <article>{{ article.text }}</article>
        <br>
        <h4>{{ article.updated_date }}</h4>
        <div>
{% endblock %}