{% extends 'base/base.html' %}

{% block title %}Register User{% endblock %}

{% block body %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
<!--    <div class="row py-lg-5" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px;">-->
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-normal">register</h1>
            <img class="background-image" src = "#" alt = ""/>
        <br>
        <p class="lead text-body-secondary">You can register on web site whit this page</p>
        <p>
          <a href="{% url 'account:user_log_in' %}" class="btn btn-primary my-2">Login</a>
          <a href="{% url 'home:home' %}" class="btn btn-secondary my-2">Back</a>
        </p>
      </div>
    </div>
</section>
    {% csrf token %}
<form action="" method="post" novalidate>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    {{ register_form.Username }}
      {% for Error in register_form.Username.error %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    <div id="emailHelp" class="form-text">We'll never share your User name with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Password</label>{{ register_form.Password }}
      {% for Error in register_form.Password.error %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
      <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Repassword</label>
      {{ register_form.Password_2 }}
      {% for Error in register_form.Password_2.error %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
      <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First name</label>
    {{ register_form.FirstName }}
      {% for Error in register_form.Firstname.error %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Last name</label>
      {{ register_form.LastName }}
      {% for Error in register_form.Lastname.error %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    {{ register_form.Email }}
      {% for Error in register_form.Email.error %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}